*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#search{
    display: grid;
    
}
h2{
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px black solid;

}
#Search{
    display: block;
    border: 1px black solid;
    padding: 1em;
    margin: 1em;
    background-color: lightgray;
}
#errors{
    display: block;
    border: 1px black solid;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 97, 97);
}
#errors p{
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
}
#images{
    display: grid;
    padding: 1em;
    margin: 1em;
    border-bottom: 1px solid black;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    
}
#planetIMG{
    grid-column: 1/2;
}
#planetIMG img{
    max-width: 300px;
}
#ImageTxt{
    grid-column: 2/3;

}
